.red a{
    color: #d9534f!important;
  }
  
  .green a{
      color: #5cb85c!important;
    }
    
    .lblue a{
      color:  #5bc0de!important; 
      }
      
      .blue a{
       color: #337ab7!important; 
      }

.red-line {
   color: white;
    background: #d9534f!important;
  }
  
  .green-line {
     color: white;
      background: #5cb85c;
    }

   .date-table-row {
    min-width: 115px;
   }

   .end-time-table-row {
    min-width: 120px;
   }

   .alert-place {
    height: 90px;
    width: 850px;
   }

   #taskAdded {
    display: none;
    color: #337ab7;
    font-weight: bold;
    text-align: center;
    padding-top: 40px;
   }

   a:hover {
    color: black!important;
   }




   #scrollContent{
  height:186px;
  overflow:auto;
  position:relative;
}
